body{
  background-color:#312F2F;
  color: #F4F7F5;
  text-align: center;
}

h1{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #4392F1;
  font-size: 42px;
  margin-bottom: 5px;
}

#word-display-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#word-display {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-auto-rows: 50px;
  grid-gap: 10px;
  margin: 20px;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word  {
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

.announcement {
  margin: 25px;
}

.message {
  margin: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size:22px;
}

.settings {
  margin-left: 25px;
}

#settings {
  margin-top: 25px;
  margin-bottom: 25px;
}

.range-label {
  display: inline-block;
}

.interactions-button {
  margin-left: 20px;
  text-align: center;
  background-color: #EF2B38;
  border: 2px solid #EF2B38;
  border-radius: 15px;
  padding: 10px 20px;
  font-size:25px;
  color: #F4F7F5;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
