#word-display {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 50px 50px;
  grid-gap: 10px;
  margin: 20px;
}

.word  {
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

.announcement {
  margin: 25px;
}

.message {
  margin: 25px;
}

.settings {
  margin-left: 25px;
}

#settings {
  margin-top: 25px;
  margin-bottom: 25px;
}

.range-label {
  display: inline-block;
}


.interactions-button {
  margin-left: 20px;
}
